<div class="app">
  <mat-toolbar class="bg-white">
    <h1 class="ml-1">{{ model?.nickname }}</h1>
    <span class="spacer"></span>
    <button class="text-secondary" mat-button aria-label="View" [routerLink]="['/restricted/user']">
      <mat-icon>arrow_back</mat-icon> Back
    </button>
  </mat-toolbar>

  <div *ngIf="!model || !model.id" class="text-center">User not found!</div>
  <mat-card>
    <div>Nickname: <b>{{ model?.name }}</b></div>
    <div>Name: <b>{{ model?.phone }}</b></div>
    <div>E-mail: <b>{{ model?.email }}</b></div>
    <div>Active: <b>{{ model.active | pipeStatus }}</b></div>
    <div>Description: <b>{{ model?.user_type?.description }}</b></div>
    <div>Created: <b>{{ model?.createdAt | pipeDate }}</b></div>
    <div>Updated: <b>{{ model?.updatedAt | pipeDate }}</b></div>
  </mat-card>
</div>